/* Styling for the Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

nav li {
    float: left;
    width: 25%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-color: darkblue;
}

/* Styling for Aside Lists */
aside ol {
    list-style-type: upper-roman;
}

aside ul {
    list-style-type: square;
}